In [1]:
a = {}
# b = {<Key>:<Value>,<key>:<value>}
# Dictionary
# -Indexed
# -Ordered
# -Duplicate Values
# -Mutable

In [4]:
a = {"A":"Apple","B":"Ball"}
print(a["A"])
print(a["B"])
print(len(a))

Apple
Ball
2

In [5]:
a = {"A":"Apple","B":"Ball"}
print(a)

{'A': 'Apple', 'B': 'Ball'}

In [7]:
a = {"A":"Apple","B":"Ball","a":"Apple"}
print(a)

{'A': 'Apple', 'B': 'Ball', 'a': 'Apple'}

In [9]:
a = {"A":"Apple","B":"Ball","A":"Ant"}
print(a)

{'A': 'Ant', 'B': 'Ball'}

In [10]:
a = {}
a["A"] = "Apple"
a["B"] = "Ball"
print(a)

{'A': 'Apple', 'B': 'Ball'}

In [11]:
a = {}
a["Ram"] = 9856554543
a["Shyam"] = 9834339087
print(a)

{'Ram': 9856554543, 'Shyam': 9834339087}

In [12]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter Name = ")
    phone = int(input("Enter Phone = "))
    data[name] = phone
    
print(data)

Enter n = 3
Enter Name = Ram
Enter Phone = 9856554543
Enter Name = Shyam
Enter Phone = 9845445432
Enter Name = hari
Enter Phone = 9767665654
{'Ram': 9856554543, 'Shyam': 9845445432, 'hari': 9767665654}

In [17]:
for i in data:
    print(i)

Ram
Shyam
hari

In [18]:
for i in data.values():
    print(i)

9856554543
9845445432
9767665654

In [19]:
for i in data.items():
    print(i)

('Ram', 9856554543)
('Shyam', 9845445432)
('hari', 9767665654)

In [22]:
phone = int(input("Enter phone = "))
for i in data.items():
    if phone in i:
        print(i)

Enter phone = 9845445432
('Shyam', 9845445432)

In [25]:
del data['Ram']
print(data)

{'Shyam': 9845445432, 'hari': 9767665654}

In [27]:
data = {'Ram': 9856554543, 
        'Shyam': 9845445432, 'hari': 9767665654}
data.pop("Ram")
data

{'Shyam': 9845445432, 'hari': 9767665654}

In [31]:
index = []
data = {'Ram': 9856554543, 'Shyam': 9845445432, 'hari': 9767665654}
phone = int(input("Enter phone = "))
for i in data.items():
    if phone in i:
        index.append(i[0])
print(index)
key = index[0]
del data[key]
print(data)

Enter phone = 9845445432
['Shyam']
{'Ram': 9856554543, 'Shyam': 9845445432, 'hari': 9767665654}
{'Ram': 9856554543, 'hari': 9767665654}

In [33]:
a = {("Ram","Shyam"):985655654}
for i in a.items():
    print(i)

(('Ram', 'Shyam'), 985655654)

In [34]:
key = ("Ram","Shyam")
a[key]

985655654

In [35]:
# list inside dict
# tuple inside dic
# dict inside dict

In [36]:
# list inside dict
a = {"A":["Apple","Ant"],"B":["Ball","Bat"]}
print(a)

{'A': ['Apple', 'Ant'], 'B': ['Ball', 'Bat']}

In [37]:
for i in a.items():
    print(i)

('A', ['Apple', 'Ant'])
('B', ['Ball', 'Bat'])

In [38]:
a = {"A":["Apple","Ant"],"B":["Ball","Bat"]}
a["C"] = ["Cat","Can"]
print(a)

{'A': ['Apple', 'Ant'], 'B': ['Ball', 'Bat'], 'C': ['Cat', 'Can']}

In [39]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc phone no = "))
    ncell = int(input("Enter ncell phone no = "))
    data[name] = [ntc,ncell]
print(data)

Enter n = 2
Enter name = Ram
Enter ntc phone no = 345345
Enter ncell phone no = 35345
Enter name = Shyam
Enter ntc phone no = 345545
Enter ncell phone no = 435435
{'Ram': [345345, 35345], 'Shyam': [345545, 435435]}

In [40]:
a = {'Ram': [345345, 35345], 
     'Shyam': [345545, 435435]}
a['Ram'][1] = 9856556534
a

{'Ram': [345345, 9856556534], 'Shyam': [345545, 435435]}

In [42]:
data = {'Ram': [345345, 9856556534], 'Shyam': [345545, 435435]}
phone = int(input("Enter phone = "))
for i in data.items():
    if phone in i[1]:
        print(i)

Enter phone = 9856556534
('Ram', [345345, 9856556534])

In [41]:
data = {'Ram': [345345, 9856556534], 'Shyam': [345545, 435435]}
for i in data.items():
    print(i)

('Ram', [345345, 9856556534])
('Shyam', [345545, 435435])

In [1]:
# dict inside dict
# a = {<key>:{},<key>:{}}

In [2]:
a = {"Ram":{"NTC":98413343212,"Ncell":9808445432},
     "Shyam":{"NTC":98413343212,"Ncell":9808445432}}
type(a)

dict

In [3]:
a["Hari"] = {"NTC":9841778643,"Ncell":9808447876}
a

{'Ram': {'NTC': 98413343212, 'Ncell': 9808445432},
 'Shyam': {'NTC': 98413343212, 'Ncell': 9808445432},
 'Hari': {'NTC': 9841778643, 'Ncell': 9808447876}}

In [6]:
a["Hari"]["NTC"] = 9856554543
a

{'Ram': {'NTC': 98413343212, 'Ncell': 9808445432},
 'Shyam': {'NTC': 98413343212, 'Ncell': 9808445432},
 'Hari': {'NTC': 9856554543, 'Ncell': 9808447876}}

In [7]:
a["Hari"] = {"NTC":9841778643,"Ncell":9808447876}
a

{'Ram': {'NTC': 98413343212, 'Ncell': 9808445432},
 'Shyam': {'NTC': 98413343212, 'Ncell': 9808445432},
 'Hari': {'NTC': 9841778643, 'Ncell': 9808447876}}

In [8]:
a["Hari"]["Land"] = 4457670
a

{'Ram': {'NTC': 98413343212, 'Ncell': 9808445432},
 'Shyam': {'NTC': 98413343212, 'Ncell': 9808445432},
 'Hari': {'NTC': 9841778643, 'Ncell': 9808447876, 'Land': 4457670}}

In [9]:
# dict inside list
a = [{'Name':"Ram",'NTC': 98413343212, 'Ncell': 9808445432},
     {'Name':'Shyam','NTC': 98413343212, 'Ncell': 9808445432},
     {'Name':"Hari",'NTC': 9841778643, 'Ncell': 9808447876}
    ]

In [10]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc = "))
    ncell = int(input("Enter ncell = "))
    data = {'Name':name,"NTC":ntc,"Ncell":ncell}
    a.append(data)
    
print(a)

Enter n = 2
Enter name = Ram
Enter ntc = 9856554543
Enter ncell = 9845443432
Enter name = Shyam
Enter ntc = 9856554543
Enter ncell = 98056654543
[{'Name': 'Ram', 'NTC': 9856554543, 'Ncell': 9845443432}, {'Name': 'Shyam', 'NTC': 9856554543, 'Ncell': 98056654543}]

In [15]:
for i in a:
    print(i["Name"])
    print(i["NTC"])
    print(i["Ncell"])

Ram
9856554543
9845443432
Shyam
9856554543
98056654543

In [17]:
a = [{'Name': 'Ram', 'NTC': 9856554543, 'Ncell': 9845443432}, 
     {'Name': 'Shyam', 'NTC': 9856554543, 'Ncell': 98056654543}]

'Ram'

In [ ]:
# WAP to enter data of students (marks) and make a complete system

In [18]:
# 1.data entry (name and marks of different subjects)
# 2.display data (choice of user)
# 3.Edit
# 4.Update
# 5.delete

In [21]:
name = input("Enter name = ")
a = [{'Name': 'Ram', 'NTC': 9856554543, 'Ncell': 9845443432}, 
     {'Name': 'Shyam', 'NTC': 9856554543, 'Ncell': 98056654543}]
for i in a:
    if i['Name'] == name:
        print(i)

Enter name = Ram
{'Name': 'Ram', 'NTC': 9856554543, 'Ncell': 9845443432}

In [24]:
index = []
name = input("Enter name = ")
a = [{'Name': 'Ram', 'NTC': 9856554543, 'Ncell': 9845443432}, 
     {'Name': 'Shyam', 'NTC': 9856554543, 'Ncell': 98056654543}]
for i in range(len(a)):
    if a[i]["Name"] == name:
        index.append(i)

Enter name = Ram

In [27]:
a[index[0]]["NTC"] = 9841998987
a

[{'Name': 'Ram', 'NTC': 9841998987, 'Ncell': 9845443432, 'NCT': 9841998987},
 {'Name': 'Shyam', 'NTC': 9856554543, 'Ncell': 98056654543}]

In [31]:
bill = [{"Product":"Apple","Quantity":3,"Price":100,"Total":300},
    {"Product":"Ball","Quantity":2,"Price":200,"Total":400}]
bill[0]['Quantity'] =4
q = bill[0]['Quantity']
p = bill[0]['Price']
total =  q*p 
bill[0]['Total'] = total
bill

[{'Product': 'Apple', 'Quantity': 4, 'Price': 100, 'Total': 400},
 {'Product': 'Ball', 'Quantity': 2, 'Price': 200, 'Total': 400}]

In [2]:
a = {'Ram': [345345, 9856556534], 'Shyam': [345545, 435435]}
a['Ram'].append(4489887)
a

{'Ram': [345345, 9856556534, 4489887], 'Shyam': [345545, 435435]}

In [4]:
b = a['Ram']

In [6]:
i = b.index(9856556534)
i

1

In [7]:
a['Ram'].insert(0,7656657657)
a

{'Ram': [7656657657, 345345, 9856556534, 4489887], 'Shyam': [345545, 435435]}