In [1]:
# remove del pop

In [3]:
a = ["Apple","Ball","Cat","Dog","Fish"]
a.remove("Apple")
print(a)

['Ball', 'Cat', 'Dog', 'Fish']

In [4]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
a.remove("Apple")
print(a)

['Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [7]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
n = a.count("Apple")
for i in range(n):
    a.remove("Apple")
    
print(a)

['Ball', 'Cat', 'Dog', 'Fish']

In [9]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
for i in a:
    if i == "Apple":
        a.remove(i)
    
print(a)

['Ball', 'Cat', 'Dog', 'Fish']

In [18]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
del a[0] , a[1]
print(a)

['Ball', 'Dog', 'Fish', 'Apple']

In [12]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
del a[0:3]
print(a)

['Dog', 'Fish', 'Apple']

In [15]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
b = a.pop(2)
print(a)
print(b)

['Apple', 'Ball', 'Dog', 'Fish', 'Apple']
Cat

In [17]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
a.clear()
a

[]

In [20]:
# list inside list
a= [[],[],[]]
print(type(a))
print(len(a))

<class 'list'>
3

In [21]:
a= [[1,2,3],
    [4,5,6],
    [7,8,9]]
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [22]:
output = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = [name,age,add]
    output.append(info)
    
print(output)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Enter name = Shyam
Enter age = 56
Enter address = Patan
[['Ram', 34, 'Kathmandu'], ['Shyam', 56, 'Patan']]

In [25]:
a = [['Ram', 34, 'Kathmandu']]
b = [['Shyam', 56, 'Patan']]
c = a+b
c

[['Ram', 34, 'Kathmandu'], ['Shyam', 56, 'Patan']]

In [30]:
c[0][0]

'Ram'

In [31]:
c[0][0] = "Hari"
c

[['Hari', 34, 'Kathmandu'], ['Shyam', 56, 'Patan']]

In [32]:
c[0].append("Nepal")
c

[['Hari', 34, 'Kathmandu', 'Nepal'], ['Shyam', 56, 'Patan']]

In [33]:
c[0].insert(0,"1")
c

[['1', 'Hari', 34, 'Kathmandu', 'Nepal'], ['Shyam', 56, 'Patan']]

In [34]:
c[0]=['Hari', 34, 'Kathmandu', 'Nepal']

In [35]:
z = []
r = int(input("Enter r = "))
c= int(input("Enter c = "))
for i in range(r):
    y = []
    for j in range(c):
        x = int(input("Enter x "))
        y.append(x)
    z.append(y)
    
print(z)

Enter r = 2
Enter c = 2
Enter x 1
Enter x 2
Enter x 3
Enter x 4
[[1, 2], [3, 4]]

In [ ]:
output = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter age = "))
    quantity = int(input("Enter address = "))
    total = price*quantity
    info = [name,price,quantity,total]
    output.append(info)
    
print(output)

In [36]:
data = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info=f"{name}--{age}--{add}\n"
    data = data+info
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter address = Patan
Enter name = Shyam
Enter age = 45
Enter address = Kathmandu
Ram--34--Patan
Shyam--45--Kathmandu

In [38]:
print(data)

Ram--34--Patan
Shyam--45--Kathmandu

In [50]:
x = data.split('\n')[0:-1]
x

['Ram--34--Patan', 'Shyam--45--Kathmandu']

In [48]:
splited_value = []
for i in x:
    output = i.split('--')
    splited_value.append(output)
    
splited_value

[['Ram', '34', 'Patan'], ['Shyam', '45', 'Kathmandu']]

In [1]:
a = {"Ram":[90,38,39,34]}
a = {"Ram":[{"th":45,"Pr":45}]}
a = {"Ram":{"p":90,"c":38,"m":39,"e":34}}

In [4]:
a = {"Ram":{"p":90,"c":38,"m":39,"e":34}}
name = input("Enter name = ")
subject = input("Enter sub = ")
u_v = int(input("Enter v = "))
a[name][subject] = u_v
a

Enter name = Ram
Enter sub = p
Enter v = 99

{'Ram': {'p': 99, 'c': 38, 'm': 39, 'e': 34}}

In [ ]:
a = [['1', 'Hari', 34, 'Kathmandu', 'Nepal'], ['Shyam', 56, 'Patan']]