In [1]:
# for
# while

In [2]:
# range(5)  #for(i = 0; i<5; i++){} (0,1,2,3,4)
# range(1,5) # for(i =1;i<5; i++)
# range(1,5,2) #for(i = 1;i<5; i = i+2)

In [4]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
for i in range(1,5):  #(1,2,3,4)
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [8]:
for i in range(1,3):
    print(i,"Hello World",end = ",")

1 Hello World,2 Hello World,

In [9]:
for i in range(1,5,2): #(1,3)
    print(i,"Hello World",end = ",")

1 Hello World,3 Hello World,

In [12]:
for i in range(1,5,2):
    print(i)

1
3

In [14]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [18]:
# 5! = 1*2*3*4*5
fac = 1
n = int(input("Enter any no = "))
for i in range(1,n+1):
    fac = fac*i
    print(fac)

Enter any no = 5
1
2
6
24
120

In [2]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    x = int(input("Enter x = "))
    s = s+x
    
print("The sum is = ",s)

Enter n = 5
Enter x = 132
Enter x = 243
Enter x = 34
Enter x = 23
Enter x = 34
466

In [4]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter name = ")
    s = s+" " +x
print("The output is = ",s)

Enter n = 2
Enter name = Ram
Enter name = Shyam
The output is =   Ram Shyam

In [4]:
bill = ""
s = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    x = int(input("Enter x = "))
    s = s+x
    row = name + str(s)+"\n"
    bill = bill +row
    
print("The sum is = ",s)
print("The bill is = \n",bill)
print("The totle price = ",s)

Enter n = 2
Enter name = 100
Enter x = 100
Enter name = Ball
Enter x = 200
The sum is =  300
The bill is =
 100100
Ball300

The totle price =  300

In [6]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s+name+" "+phone+"\n"
print("The output is = ",s)

Enter n = 2
Enter name = Ram
Enter phone = 98877857
Enter name = Shyam
Enter phone = 98687678
The output is =  Ram 98877857
Shyam 98687678

In [8]:
a = "Python"
for i in a:
    print(i,"Hello world")

P Hello world
y Hello world
t Hello world
h Hello world
o Hello world
n Hello world

In [9]:
a = ["Apple","Ball","Cat","Dog"]
for i in a:
    print(i)

Apple
Ball
Cat
Dog

In [7]:
a = ["Apple","Ball","Cat","Dog"]
a

['Apple', 'Ball', 'Cat', 'Dog']

In [9]:
for i in range(2):
    for j in range(2):
        x = input("Enter x = ")
        print(x)

Enter x = 1
1
Enter x = 2
2
Enter x = 3
3
Enter x = 4
4

In [ ]:
# WAP to detect prime and composite no
# WAP fo result anagement system