In [1]:
a = "Hello"
b = 'Hello'
print(type(a),type(b))

<class 'str'> <class 'str'>

In [2]:
a = "Hello"
b = "World"
print(a+b)

HelloWorld

In [4]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [5]:
a = input("Enter name = ")
print(type(a))
print(a)

Enter name = 10
<class 'str'>
10

In [7]:
a = "Python"
for i in a:
    print(i,end = " ")

P y t h o n

In [8]:
a = "Hello Python"
print(a[0])

H

In [9]:
a = "Hello Python"
print(a[0:5])

Hello

In [10]:
a = "Hello Python"
print(a[0:10:2])

HloPt

In [16]:
a = "Hello Python"
n = len(a)
print(a[n-1::-1])

nohtyP olleH

In [17]:
#string formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")
info = f"Hello I am {name}. I am from {add}. I am {age}"
print(info)

Enter name = Ram
Enter age = 67
Enter address = Kathmandu
Hello I am Ram. I am from Kathmandu. I am 67

In [19]:
data = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info=f"{name}--{age}--{add}\n"
    data = data+info
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 56
Enter address = Patan
Ram--56--Patan

Enter name = Shaym
Enter age = 67
Enter address = Ktm
Ram--56--Patan
Shaym--67--Ktm

In [20]:
a = "Ram Ram Shyam Hari Sita Nita"
if "Ram" in a:
    print("Yes")
else:
    print("No")

Yes

In [26]:
a = "Ram ram Shyam Hari Sita Nita"
name = input("Enter name = ")
c = a.count(name)
if name in a:   
    print(f"Yes {name} the is/are {c} Ram")
else:
    print("No")

Enter name = ram
No

In [28]:
a = "Ram"
print(a.upper())
print(a.lower())

RAM
ram

In [29]:
name = input("Enter name = ").upper()
print(name)

Enter name = ram
RAM

In [32]:
a = "Ram ram Shyam Hari Sita Nita".lower()
name = input("Enter name = ").lower()
c = a.count(name)
if name in a:   
    print(f"Yes {name} the is/are {c}")
else:
    print("No")

Enter name = RaM
Yes ram the is/are 2

In [33]:
a = "Ram ram Shyam Hari Sita Nita"
b = a.lower()
name = input("Enter name = ")
names = name.lower()
c = b.count(names)
if names in b:   
    print(f"Yes {names} the is/are {c}")
else:
    print("No")

Enter name = ram
Yes ram the is/are 2

In [36]:
# replace    a.replace('<initial_value>','<final_value>')
# remove
a = "Ram Ram Shyam Hari Sita Nita"
b = a.replace('Ram','Rama')
print(b)

Rama Rama Shyam Hari Sita Nita

In [37]:
print(a)

Ram Ram Shyam Hari Sita Nita

In [39]:
a = "Ram Ram Shyam Hari Sita Nita"
b = a[0:4]
c = a[4:]
print(c)

Ram Shyam Hari Sita Nita

In [42]:
a = "Ram Ram Shyam Hari Sita Nita"
b = a.split()
del b[0]
b

['Ram', 'Shyam', 'Hari', 'Sita', 'Nita']

In [44]:
a = "Ram Ram Shyam Hari Sita Nita"
b = a.replace('Ram','')
print(b)

  Shyam Hari Sita Nita

In [45]:
data = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info=f"{i} {name}--{age}--{add}\n"
    data = data+info
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 56
Enter address = Kathmandu
Enter name = Shyam
Enter age = 56
Enter address = Patan
0 Ram--56--Kathmandu
1 Shyam--56--Patan

In [51]:
d = data.split('\n')

In [53]:
# n = int(input("Enter n "))
d[1]

'1 Shyam--56--Patan'