In [1]:
# for
# while

In [2]:
# range()
# range(5)
# range(1,5)
# range(1,10,2)

In [3]:
#range(5)  #for(i = 0; i<5; i++) (0,1,2,3,4)
#range(1,5) #for(i =1; i<5; i++) (1,2,3,4)
#range(1,5,2) #for(i=1; i<5; i=i+2) (1,3)

In [5]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [6]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [7]:
for i in range(1,5,2):
    print(i,"Hello World")

1 Hello World
3 Hello World

In [9]:
x = int(input("Enter the value of x = "))
for i in range(1,11):
    print(x,"*",i,"=",x*i)

Enter the value of x = 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [15]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    s = s+" "+name
print(s)

Enter n = 3
Enter name = Ram
 Ram
Enter name = Shyam
 Ram Shyam
Enter name = Hari
 Ram Shyam Hari

In [17]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
print(s)

Enter n = 3
Enter x = 10
Enter x = 20
Enter x = 30
60

In [20]:
s = ""
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    s = s+str(i) + " " +name+" "+str(phone)+"\n"
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9879878098
Enter name = Shyam
Enter phone = 98798787
1 Ram 9879878098
2 Shyam 98798787

In [24]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [39]:
a = "Python"
n = len(a)-1
print(n)
for i in range(n,-1,-1):
    print(a[i],end = "")

5
nohtyP

In [41]:
a = "Python"
for i in a:
    print(i,"Hello World")

P Hello World
y Hello World
t Hello World
h Hello World
o Hello World
n Hello World